h1,h2 {
	text-align: center;
}

#menu li {
	display: inline;
	border: 2px solid #000000;
	padding-right: 5%;
	padding-left: 5%;
}

.grid-container {
	display: grid;
	grid-template-columns: 20% 80%;
	grid-gap: 10px;
	padding: 10px;
	text-align: center;

}

.contenidoIzquierda > *{
	width: 95%;
}

.contenidoIzquierda {
	border: 2px solid #000000;
}

.contenidoDerecha >*{
	margin: 20px
}

.contenidoDerecha >* >*{
	margin: 20px
}

.imagen {
	border: 2px dashed #000000;
	box-shadow: 5px 5px #888888;
}