
* {
	font-family: Verdana;
}

/*
Estas etiquetas comparten las mismas propiedades.
Cualquier otra etiqueta h2 tendrá las mismas características
*/
h1, h2 {
	text-align: center;
	text-decoration: underline;
}


p#Rusia,p#iran {
	border: 1px dotted black;
}

p {
	text-align: right;
	color: blue;
}

span.bombo {
	text-decoration: underline;
	font-weight: bold;
	color: orange;
}

div#cabecera {
	background-image: url("http://es.fifa.com//assets/img/tournaments/17/2018/common/fwc_darkbluebg.png");
	height: 100px;
}